<br>
<div class="container">
  <div class="card">
    <div class="card-header">
      New Features
    </div>
    <div class="card-body">
      <h5 class="card-title">Dee-Wallet</h5>
      <p class="card-text">A faster, safer, easier way to pay</p>
      <a href="#" class="btn btn-primary">Try it now</a>
    </div>
  </div>
  <br>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/digital wallet.jpg" class="img-fluid rounded-start" alt="Digital Wallet">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h6 class="card-title">Payments</h6>
          <p class="card-text">Now use your phone to pay for anything and everything!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/digital wallet.jpg" class="img-fluid rounded-start" alt="Digital Wallet">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h6 class="card-title">Offers</h6>
          <p class="card-text">Get discounts on your favourite things!</p>
        </div>
      </div>
    </div>
  </div>
</div>


